<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LXM</title>
    <link rel="stylesheet" href="<%= style %>" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.17.4/mapbox-gl-draw.css' type='text/css' />
  </head>
  <body>
    <div id="loc-app"></div>
    <script type="text/javascript" src="<%= vendor %>"></script>
    <script type="text/javascript" src="<%= main %>"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS0PfzjZnvTJeZ-VpaiMToiQBaiZWjQbI&libraries=places"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
  </body>
</html>
