/**
 * overriding styles for
 * react ant components
 */
@primary-color: #44B6E8;
// ------ Base & Require ------
@body-background: #b8c2cb;

// Buttons
@btn-border-radius-base: 12px;
@btn-default-bg: @White;
@btn-ghost-bg: @White;

.@{ant-prefix}-cascader-picker {
    width: 100%;
}

//messages
.@{message-prefix-cls} {
  &-notice-content {
    font-size: 1.2em;
    padding: 20px !important;
    .@{iconfont-css-prefix}{
      font-size: 1.4em !important;
    }
  }
}

.@{ant-prefix}-calendar {
  width: 300px !important;
}

.ant-confirm-body {
  .ant-confirm-content {
    word-wrap: break-word;
  }
}
