/*
  Define all colors by groups
  Best pratice: have capital cases for all alpha
  all the ant design Component custom colors goes into cisco-styles.less
*/

@CiscoBlue: #049FD9;
@CiscoBlack: #222;
@CiscoBlue1: #77cdee;

//gray
@Gray: gray;
@DarkGray: #333238;
@DarkGray1: #57595B;
@DarkGray2: #d0cdcd;
@DarkGray3: #6f6b6b;
@LightGray: #f5f7fa;
@LightGray2: #b8c2cb;
@LightGray3: #B7B7B7;
@LightGray4: #848484;
@LightGray5: #D7D7D7;
@ButtonGray: #858688;

@White: #FFFFFF;

@Alert: @Orange;
@Warning: @Red;
@Normal: @Green;
@Default: #e1e5e9;
@DefaultIcon: #c2c2c2;

@Select: #4cbdee;

@Danger: #CF1F2F;

@Green: #80c362;
@GreenDna: #abc233;
@GreenYellow: #d7e569;
@Yellow: #f1c40f;
@Orange: #f6a735;
@DarkOrange: #eb8e30;
@Purple: #9D55B8;
@DarkGreen: #eb8e30;
@Red: #fe5549;
@DarkBlue: #041093;
@DarkBlue2: #336699;
@Gold: gold;
@MapBackground: #c9e4e9;
@Background: #f4f6f9;
@Highlighter_RED: #d87671;
@MarkerColor: #E74C3C;

.red { color: @Red; }
.orange { color: @Orange; }
.yellow { color: @Yellow; }
.blue { color: @Select }
.dark-blue { color: @DarkBlue; }
.gray { color: @Gray }
.light-gray { color: @LightGray2 }
.green { color: @Green }
.white { color: @White; }
