@borderGray: @LightGray5;


body, html {
  font-family: 'Cisco Sans TT Regular';
  min-height: 100%;
  min-width: 768px;
  position: relative;
  background-color: @LightGray;
  font-size: 13px;
}
body{
  min-width: 1024px;
  width: auto !important;
}
#app{
  height: 100%;
  color: @DarkGray1;
}

// for clickable text/icons
.clickable {
  cursor: pointer;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;

  &:hover {
    color: @CiscoBlue;
  }
}

// alternative clickable class for
// things on a blue background
.clickable-2 {
  cursor: pointer;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;

  &:hover {
    color: @LightGray2;
  }
}

.hoverable {
  cursor: default;
  color: @DarkGray;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;

  &:hover {
    color: @Gray;
  }
}

.hyperlink{
  color: @CiscoBlue !important;
  cursor: pointer;
}

.text-clickable {
  color: @CiscoBlack;
  .clickable();
}

.box-clickable {
  cursor: pointer;

  &:hover {
    background: @LightGray;
  }
}

.hidden{
  display: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

strong {
  color: @DarkBlue;
}

.underline {
  background-color: @LightGray2;
  height: 1px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.disabled {
  pointer-events: none;
  color: @LightGray3 !important;
  i {  color: @LightGray3; }
}

.icon-medium {
  font-size: 1.5em;
}

hr {
  color: @borderGray;
}

.alert-low {
  color: @Select;
}
.alert-medium {
  color: @Yellow;
}
.alert-high {
  color: @Red;
}
.shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.transform(@string){
  -webkit-transform: @string;
  -moz-transform: @string;
  -ms-transform: @string;
  -o-transform: @string;
}

.break-word {
  word-break: break-all;
}

.non-active {
  color: @LightGray2;
}