/**
 * Cisco Symphony recommendations
 * http://symphony.cisco.com/software-design/visual-design/iconography/
 */

@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg') format('svg'),
    url('fonts/icomoon.woff') format('woff');
}

.icomoon {
  font-family: 'icomoon', Arial, sans-serif;
  display: inline-block;

  &.icomoon-reset-filter:before { content: '\E91C'; }
  &.icomoon-bulk-edit:before { content: '\E907'; }
  &.icomoon-settings:before { content: '\E936'; }
  &.icomoon-add-widget:before { content: '\E903'; }
  &.icomoon-csv-download:before { content: '\E915'; }
  &.icomoon-pdf-download:before { content: '\E92A'; }
  &.icomoon-xls-download:before { content: '\E93E'; }
  &.icomoon-floor:before { content: '\E60B'; }
}

.fontello {
  font-family: 'fontello', Arial, sans-serif;
  display: inline-block;

  &.fontello-floor:before { content: '\E82B'; }
}

.icon {
  &.xsmall { font-size: 16px; }
  &.small { font-size: 24px; }
  &.medium { font-size: 32px; }
  &.large { font-size: 48px; }
}
