/* FONTS */
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import '../css/fontello.css';

/* LIB STYLES */
@import "../../node_modules/antd/lib/style/themes/default.less";
//@import '../../node_modules/slick-carousel/slick/slick-theme.css';
//@import '../../node_modules/slick-carousel/slick/slick.css';
@import "ciscos-styles.less";
@import "../../node_modules/antd/lib/style/core/index.less";
@import "../../node_modules/antd/lib/style/components.less";
@import "../../node_modules/leaflet/dist/leaflet.css";
@import "../../node_modules/react-datepicker/dist/react-datepicker.css";

@import '../../node_modules/vis/dist/vis.min.css';

@import './common';
@import './colors';
@import './typography';
@import './iconography';

@import './navigation';
@import './tree';

@import './components/entity-widget';
@import './components/table';
@import './components/header';
@import './components/feedback';
@import './components/loading';
@import './components/map/map-manager';
@import './components/map/floor-map';
@import './components/map/world-map';
@import './components/map/location-menu';
@import './components/map/location-counts';

@import './containers/mapview';

body {padding:0;margin:0;}

@headerHeight: 60px;
@sidebarWidth: 165px;

.app-wrapper {

  padding: 0;
  margin: 0;

  &>div {
    display: inline-block;
    vertical-align: top;
    position: fixed;
  }

  .app-body {
    position: absolute;
    left: @sidebarWidth;
    height: 100vh;
    width: ~"calc(100% - @{sidebarWidth})";
    background-color: @LightGray;

    .app-content {
      height: ~"calc(100% - @{headerHeight})";
    }

    .app-content {
      padding: 20px 30px;
    }

    .app-header {
      padding: 10px
    }
  }
}

.ant-modal-content {
  .ant-modal-header {
    background-color: #049fd9;
    .ant-modal-title {
      color: @White;
    }
  }
  .ant-modal-close {
    color: rgba(255, 255, 255, 0.43);
    &:hover {
      color: #fff;
    }
  }
}

.ant-popover-content{
  .ant-popover-arrow {
    &::after {
      border-bottom-color: @CiscoBlue!important;
    }
  }
  .ant-popover-title,.center{
    text-align: center;
  }
  .alert-row{
    text-align: left;
    padding: 5px 0;
    border-bottom: 2px solid @LightGray;
    div{
      padding: 0 10px;
      word-wrap: break-word;
    }
    .alertTime{
      text-align: left;
    }
    .alertText{
      text-align: right;
      font-weight: bold;
    }
  }

}
