.text-hidden{
  display: none;
}

.nav-button {
  .clickable();
  font-size: 1.5em;
  padding: 1%;
}

.app-nav-bar {
  background-color: @DarkGray;
  height: 100vh;
  overflow: auto;
  width: @sidebarWidth;

  .nav-bar-header {
    height: 60px;
    text-align: center;

    .nav-bar-logo {
      box-sizing: border-box;
      padding-left: 45px;
      line-height: 60px;
      font-size: 2em;
      color: @White;
    }

    .hide-nav-button {
      margin-top: 10%;
    }
  }

  .nav-bar-separator {
    width: 80%;
    margin: 10px auto;
    border-top: 1px dashed @DarkGray1;
  }

  .nav-bar-item {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    user-select: none;
    cursor: pointer;

    &.hidden{
      .text-hidden();
    }

    &.open {
      height: auto;
    }

    a {
      display: block;
      line-height: 59px;
      padding-left: 10px;
      width: 100%;
      height: 60px;
      font-size: 1em;
      text-decoration: none;
      color: @White;

      &.disabled{
        color: @DarkGray1 !important;
      }

      &:hover {
        color: @CiscoBlue;
      }

      i {
        margin-right: 10px;
        min-width: 14px;
      }

      span {
        white-space: nowrap;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .placeHolder {
      display: block;
      line-height: 59px;
      padding-left: 10px;
      width: 100%;
      height: 60px;
      font-size: 1em;
      text-decoration: none;
      color: @White;

      i {
        margin-right: 5px;
        min-width: 14px;
      }
    }

    &.active{
      border-left: 5px solid @Select;

      a {
        color: @Select;
      }
    }

    &.with-subitem {
      height: auto;

      &.open {
        .nav-bar-item-list {
          display: block;
          height: auto;
        }
      }

      .nav-bar-item-title {
        display: block;
        line-height: 59px;
        padding-left: 10px;
        width: 100%;
        height: 60px;
        font-size: 1.1em;
        text-decoration: none;
        color: @White;

        &:hover {
          color: @CiscoBlue;
        }

        i {
          margin-right: 10px;
        }

        .fa{
          font-size: 1.5em;
        }

      }
    }

    .nav-bar-item-list {
      width: 100%;
      height: 0;
      display: none;

      .nav-bar-item {
        height: 40px;
        width: 100%;
        box-sizing: border-box;

        &.hidden{
          .text-hidden();
        }

        a:hover {
          color: @CiscoBlue;
        }

        &.active{
          border-left: 5px solid @Select;
          a{
            color: @Select;
          }
        }

        & > a {
          display: block;
          line-height: 39px;
          padding-left: 30px;
          width: 100%;
          height: 40px;
          font-size: 1.1em;
          text-decoration: none;
          color: @White;
          &.disabled{
            color: @DarkGray1 !important;
          }
        }
      }
    }
  }
}
