/**
 * Tree styling. To use these styles,
 * use <ul class="tree"> with nodes
 * <li class="node [root]">
 */
@treeLine: 1px solid @LightGray5;
@treeLineHorizontalWidth: 48px;
@treeTopOffset: 16px;
@padding: 10px;

ul.tree {
  position: relative;
  list-style: none;
  padding-left: @treeLineHorizontalWidth + @padding;
  padding-right: @padding;
  padding-bottom: @padding;
  padding-top: @padding;

  li.node {
    position: relative;
    padding-bottom: 2%;
    // reset li pseudo elements
    // and give width spacing for
    // vertical lines
    &::before, &::after {
      content: "";
      position: absolute;
      left: -@treeLineHorizontalWidth;
    }

    // horizontal lines
    &::before {
      border-top: @treeLine;
      top: @treeTopOffset;
      width: @treeLineHorizontalWidth;
      height: 0;
    }

    // vertical lines
    &::after {
      border-left: @treeLine;
      height: 100%;
      width: 0;
      top: -16px;
    }

    // no top vertical line
    // for root node
    &.root::after {
      top: @treeTopOffset;
    }

    // no vertical line for
    // the last node
    &:last-child::after {
      //border-left: none;
      height: @treeTopOffset + 16px;
    }

    //Override collapse icons
    .ant-collapse-header {
      .arrow {
        padding: 0;
        position: absolute !important;
        transform: none !important;
        top: -(@treeTopOffset - 11px) !important;
        left: -(@treeLineHorizontalWidth + 18px) !important;
      }
    }
    .ant-collapse-header[aria-expanded="true"] {
      .arrow {
        &:before {
          content: "\e622" !important;
        }
      }
    }
    .ant-collapse-header[aria-expanded="false"] {
      .arrow {
        &:before {
          content: "\e626" !important;
        }
      }
    }
  }
}
