/**
 * Cisco Symphony recommendations
 * http://symphony.cisco.com/software-design/visual-design/typography/
 */
@font-face {
  font-family: 'Cisco Sans TT Thin';
  src: url('fonts/CiscoSansTTThin.woff') format('woff'),
  url('fonts/CiscoSansTTThin.ttf') format('truetype');
}

@font-face {
  font-family: 'Cisco Sans TT Bold';
  src: url('fonts/CiscoSansTTBold.woff') format('woff'),
  url('fonts/CiscoSansTTBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cisco Sans TT Regular';
  src: url('fonts/CiscoSansTTRegular.woff') format('woff'),
  url('fonts/CiscoSansTTRegular.ttf') format('truetype');
}

h1 {
  font-size: 48px;
  font-family: 'Cisco Sans TT Thin', Arial, sans-serif;
}

h2 {
  font-size: 36px;
  font-family: 'Cisco Sans TT Thin', Arial, sans-serif;
}

h3 {
  font-size: 26px;
  font-family: 'Cisco Sans TT Thin', Arial, sans-serif;
}

h4 {
  font-size: 20px;
  font-family: 'Cisco Sans TT Thin', Arial, sans-serif;
}

h5 {
  font-size: 16px;
  font-family: 'Cisco Sans TT Thin', Arial, sans-serif;
}

h6 {
  font-size: 12px;
  font-family: 'Cisco Sans TT Thin', Arial, sans-serif;
}
