    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:12
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-ambulance:before { content: "\f100"; }
.flaticon-aspirins:before { content: "\f101"; }
.flaticon-atom:before { content: "\f102"; }
.flaticon-awareness-ribbon:before { content: "\f103"; }
.flaticon-bathroom-scales:before { content: "\f104"; }
.flaticon-caduceus:before { content: "\f105"; }
.flaticon-dna-sequence:before { content: "\f106"; }
.flaticon-drip-bag:before { content: "\f107"; }
.flaticon-drop-with-hospital-symbol:before { content: "\f108"; }
.flaticon-electrocardiogrsdk-on-screen:before { content: "\f109"; }
.flaticon-electrocardiogrsdk-report:before { content: "\f10a"; }
.flaticon-esophagus:before { content: "\f10b"; }
.flaticon-eye-closeup:before { content: "\f10c"; }
.flaticon-female-body:before { content: "\f10d"; }
.flaticon-first-aid-kit:before { content: "\f10e"; }
.flaticon-first-aid-kit-1:before { content: "\f10f"; }
.flaticon-glasses:before { content: "\f110"; }
.flaticon-head-with-brain:before { content: "\f111"; }
.flaticon-health-crutches:before { content: "\f112"; }
.flaticon-health-drip:before { content: "\f113"; }
.flaticon-health-thermometer:before { content: "\f114"; }
.flaticon-heart-organ:before { content: "\f115"; }
.flaticon-heart-with-electrocardiogram:before { content: "\f116"; }
.flaticon-hospital-bed:before { content: "\f117"; }
.flaticon-hospital-building:before { content: "\f118"; }
.flaticon-hospital-drip-bag:before { content: "\f119"; }
.flaticon-hospital-symbol:before { content: "\f11a"; }
.flaticon-hospital-syringe:before { content: "\f11b"; }
.flaticon-human-brain:before { content: "\f11c"; }
.flaticon-human-skull:before { content: "\f11d"; }
.flaticon-lab-microscope:before { content: "\f11e"; }
.flaticon-lungs-organ:before { content: "\f11f"; }
.flaticon-male-and-female-symbols:before { content: "\f120"; }
.flaticon-molar:before { content: "\f121"; }
.flaticon-no-smoking-sign:before { content: "\f122"; }
.flaticon-nurse-silhouette:before { content: "\f123"; }
.flaticon-pharmacy-icon:before { content: "\f124"; }
.flaticon-phonendoscope:before { content: "\f125"; }
.flaticon-pills-bottle:before { content: "\f126"; }
.flaticon-rubbish-bin:before { content: "\f127"; }
.flaticon-scalpel:before { content: "\f128"; }
.flaticon-silhouette-on-wheelchair:before { content: "\f129"; }
.flaticon-skull-and-crossbones:before { content: "\f12a"; }
.flaticon-sperm:before { content: "\f12b"; }
.flaticon-star-of-life:before { content: "\f12c"; }
.flaticon-sticking-plaster:before { content: "\f12d"; }
.flaticon-stomach:before { content: "\f12e"; }
.flaticon-test-tubes:before { content: "\f12f"; }
.flaticon-toxic-sign:before { content: "\f130"; }
.flaticon-two-color-pill:before { content: "\f131"; }
    
    $font-Flaticon-ambulance: "\f100";
    $font-Flaticon-aspirins: "\f101";
    $font-Flaticon-atom: "\f102";
    $font-Flaticon-awareness-ribbon: "\f103";
    $font-Flaticon-bathroom-scales: "\f104";
    $font-Flaticon-caduceus: "\f105";
    $font-Flaticon-dna-sequence: "\f106";
    $font-Flaticon-drip-bag: "\f107";
    $font-Flaticon-drop-with-hospital-symbol: "\f108";
    $font-Flaticon-electrocardiogrsdk-on-screen: "\f109";
    $font-Flaticon-electrocardiogrsdk-report: "\f10a";
    $font-Flaticon-esophagus: "\f10b";
    $font-Flaticon-eye-closeup: "\f10c";
    $font-Flaticon-female-body: "\f10d";
    $font-Flaticon-first-aid-kit: "\f10e";
    $font-Flaticon-first-aid-kit-1: "\f10f";
    $font-Flaticon-glasses: "\f110";
    $font-Flaticon-head-with-brain: "\f111";
    $font-Flaticon-health-crutches: "\f112";
    $font-Flaticon-health-drip: "\f113";
    $font-Flaticon-health-thermometer: "\f114";
    $font-Flaticon-heart-organ: "\f115";
    $font-Flaticon-heart-with-electrocardiogram: "\f116";
    $font-Flaticon-hospital-bed: "\f117";
    $font-Flaticon-hospital-building: "\f118";
    $font-Flaticon-hospital-drip-bag: "\f119";
    $font-Flaticon-hospital-symbol: "\f11a";
    $font-Flaticon-hospital-syringe: "\f11b";
    $font-Flaticon-human-brain: "\f11c";
    $font-Flaticon-human-skull: "\f11d";
    $font-Flaticon-lab-microscope: "\f11e";
    $font-Flaticon-lungs-organ: "\f11f";
    $font-Flaticon-male-and-female-symbols: "\f120";
    $font-Flaticon-molar: "\f121";
    $font-Flaticon-no-smoking-sign: "\f122";
    $font-Flaticon-nurse-silhouette: "\f123";
    $font-Flaticon-pharmacy-icon: "\f124";
    $font-Flaticon-phonendoscope: "\f125";
    $font-Flaticon-pills-bottle: "\f126";
    $font-Flaticon-rubbish-bin: "\f127";
    $font-Flaticon-scalpel: "\f128";
    $font-Flaticon-silhouette-on-wheelchair: "\f129";
    $font-Flaticon-skull-and-crossbones: "\f12a";
    $font-Flaticon-sperm: "\f12b";
    $font-Flaticon-star-of-life: "\f12c";
    $font-Flaticon-sticking-plaster: "\f12d";
    $font-Flaticon-stomach: "\f12e";
    $font-Flaticon-test-tubes: "\f12f";
    $font-Flaticon-toxic-sign: "\f130";
    $font-Flaticon-two-color-pill: "\f131";