.device-details {
  .ant-modal-header {
    background: #049fd9;
  }

  .ant-modal-close {
    color: rgba(255, 255, 255, 0.43);

    &:hover {
      color: #fff;
    }
  }

  .device-detail-content {
    overflow-y: auto;
    background-color: #f4f6f9;

    > .ant-col-12 {
      height: 100%;
    }

    .general {
      padding: 10px 10px 30px 10px;

      .table-wrapper {
        padding: 0;
      }

      div.table-actions {
        border: none;
        padding: 0;
      }

      .attribute-row {
        padding: 3px;
      }

      .label {
        text-align: right;
        padding: 0 10px;
        color: #848484;
      }

      .value {
        text-align: left;
        padding: 0 10px;
        color: #333238;
      }
    }
  }
}