.map-manager {
  .zone-tool{
      &.open {
        overflow: auto;
        background-color: @White;
        height: 100%;
        .title {
          color: @White;
        }
      }
      &.path {
        div.inner {
          width: 244px;
          height: 90%;
          overflow: auto;
          div.content {
            
            .points {
              &.header {
                color: @CiscoBlack;
              }
              &.point-header {
                color: @CiscoBlack;
                padding-bottom: 5px;
                border-bottom: 1px solid @LightGray5;
                h5 {
                  color: @CiscoBlack;
                }
              }
              &.path-row {
                margin-bottom: 10px;
                .ant-col-4 {
                  width: 40%;
                  .pointIcon {
                    width: 17px;
                    height: 17px;
                    padding: 1px 2px;
                  }
                }
                .ant-col-12 {
                  width: 60%;
                  text-align: right;
                }
              }
              margin-bottom: 5px;
              .ant-col-12, .ant-col-4 {
                width: 80%;
                h6 {
                  span.pointIcon {
                    width: 25px;
                    height: 25px;
                    background-color: @GreenDna;
                    color: @White;
                    padding: 4px 2px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 10px;
                  }
                  span.pointXy {
                    width: 50px;
                  }
                }
              }
            }
          }
        }
        .ant-row-flex.ant-row-flex-end.buttons {
          margin-top: 20px;
          width: 244px;
          height: 6%;
        }
      }

  }
}
