.map-manager {
  .zone-tool{
      &.open {
        overflow: auto;
        background-color: @White;
        .title {
          color: @White;
        }
        div.inner {
          width: 244px;
          height: 90%;
          overflow: auto;
        }
        .ant-row-flex.ant-row-flex-end.buttons {
          margin-top: 20px;
          width: 244px;
          height: 6%;
        }
        .divider {
          margin: 2px 0;

          border-bottom: 1px solid @LightGray5
        }
      }

  }
  .poi {
    padding-left: 5px;
    line-height: 24px;
    height: 24px;
    span.poiName {
      width: 57%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }
    img {
      margin-right: 5px;
      position: relative;
      bottom: 2px;
    }
    .disablePOI {
      color: @LightGray5;
    }
    .actions {
      display: inline-block;
      width: 34px;
      position: relative;
      float: right;
      span {
        margin-left: 4px;
      }
    }
    &.active {
      border-left: 2px solid @CiscoBlue;
    }
  }
}
.map-page {
  .widget-bar {
    display: none !important;
  }
}
