@zone-tool-gutter: 8px;
@zone-tool-gutter-1: 4px;
@zone-tool-width: 260px;

// <Floormap />
div.floor-map {
  width: 100%;
  height: 100%;
  background-color: @White;

  div.coordinates {
    width: 100px;
    position: absolute;
    left: 46%;
    padding: 5px;
    font-family: "Cisco Sans TT Thin", Arial, sans-serif;
    z-index: 99;
  }

  // <Marker />
  span.marker.sdk-marker {
    color: @Select;
  }

  // floormap message
  div.message {
    display: table;
    font-size: 3em;

    i, span {
      display: table-cell;
      vertical-align: middle;
    }

    &.hidden {
      width: 0;
      height: 0;
    }
  }

  // <ZoneControl />
  div.zone-control {
    width: 400px;
    margin: 0 auto;

    // reset anticon display: inline-block
    i.anticon { display: inline; }

    .ant-input-group-addon {
      min-width: 20px;
      padding: 0;

      div.addon-btn {
        display: inline-block;
        padding: 0 5px;
      }
    }

    .edit-button-wrapper {
      margin: 0 20px;

      button {
        .shadow();

        &.active {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    .name-field-wrapper span.ant-input-group {
      .shadow();
      border-radius: 4px;
    }
  }

  // <ZoneForm />
  div.zone-tool {
    position: absolute;
    right: 0;
    height: 100%;
    width: 0;
    z-index: 99;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;


    &.open {
      width: @zone-tool-width;
    }

    div.inner {
      width: @zone-tool-width;
      background: @White;
      height: inherit;
    }

    // zone tool header
    div.header {
      height: 7%;
      background-color: @CiscoBlue;
      color: @White;
      padding: @zone-tool-gutter;

      .right-arrow {
        font-size: 26px;
      }
    }

    // zone tool content
    div.content {
      & > div {
        padding: (@zone-tool-gutter-1) @zone-tool-gutter;
      }

      div.color .icon {
        padding-right: @zone-tool-gutter;
      }
    }
  }

  // styling for mapbox map
  // controls
  .mapboxgl-control-container {
    .mapboxgl-icon.active {
      color: @Select;
    }
  }

  .xy-container {
    color: @LightGray4;
    position: absolute;
    padding: 8px;
    font-size: 1em;
    bottom: 0;
    right: 0;
    .ant-alert-message {
      font-size: 1em;
    }
  }
}
