.device-count-wrapper {
  width: 20%;
  position: relative;
  height: 50px;
  text-align: center;
  display: inline-block;

  .device-count-icon {
    font-size: 40px;
    position: relative;
  }
  .device-count-value {
    position: relative;
    width: 100%;
    display: block;
    margin: auto;
  }
}
