@separator: 1px solid @LightGray;

// <LocationMenu />
div.location-menu {
  height: 100%;

  & > div.content {

    & > * {
      padding: 2% 0;
      margin: 0 2%;
    }

    // <Alert />
    div.ant-alert {
      margin: 6px;
    }

    // <LocationDetails /> wrapper
    div.details {
      border-bottom: @separator;
      padding: 8px;
    }

    // <Menu />
    .ant-menu {
      border-right: none;

      .ant-menu-item-group-title {
        padding: 0;
      }

      // <MenuItem />
      .ant-menu-item {
        height: initial;
        line-height: initial;
        border-bottom: 1px solid @LightGray;
        white-space: initial;
        margin: 0 2%;

        &:hover { color: inherit; }

        // <ListItem />
        div.list-item {
          & > * {
            padding: 6px 0;
          }

          .name {
            i.color { padding-right: 10px; }
            i.remove { float: right; }
          }

          p.counts, p.warnings  { color: @CiscoBlue  }
          p.counts > span { padding-right: 5px; }
          p.warnings .icon , .warning .icon {  color: @Gold }

          div.extra {
            position: relative;
          }
        }
      }
    }

    // <ZoneWizard />
    div.zone-wizard {
      padding: 20px;
      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }
  }
}

// <LocationSelector />
div.location-selector {
  border-bottom: @separator;
  max-width: 400px;
  min-width: 230px;

  // <LocationBreadcrumb />
  div.location-breadcrumb {
    padding: 0 8px;
    min-height: 18px;

    & > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  div.content {
    position: relative;

    ul.ant-cascader-menu {
      height: initial;
      max-height: 400px;
    }

    .ant-cascader-picker {
      .ant-input, .ant-cascader-picker-label {
        border: none;
        font-size: 18px;
        font-family: 'Cisco Sans TT Thin', Arial, sans-serif;
        color: @CiscoBlue;
        &:focus, &:active { box-shadow: none; }
      }
    }

    i.anticon-left {
      position: absolute;
      top: 40%;
      left: 5%;
    }
  }
}

// <LocationDetails />
div.location-details {
  .ant-menu-item {
    white-space: initial;
  }
}

// <EditAddress />
div.edit-address {
  position: relative;

  div.address {
    width: 90%;

    &.inline {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .anticon-edit {
    position: absolute;
    right: 0;
    top: 15%;
  }
}

// <EditAddress />
// popover form
.address-edit-form {
  min-width: 350px;

  textarea {
    min-height: 100px
  }

  .ant-input-group-addon {
    min-width: inherit;
  }

  div.buttons {
    text-align: center;

    a { padding: 0 5px; }
  }
}