/**
 * Styles for the /manage/maps page
 * and map components
 */
@menuWidth: 20%;

// <MapManager />
div.map-manager {
  position: relative;
  margin: 2% 0;
  height: 70vh;
  // min height ensure there are no
  // 'map cannot fit bounds' errors
  min-height: 600px;

  .ant-card {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-color: transparent;
  }

  // controls
  div.controls {
    position: absolute;
    z-index: 999;

    &.controls-top { top: 5%; }
    &.controls-left { left: 3%; }
    &.controls-right { right: 5%; }
    &.controls-center {
      left: 25%;
      width: 50%;
      text-align: center;
    }
    &.controls-middle {
      top: 25%;
      height: 50%;
    }
    &.controls-above {
      position: relative;
    }
  }

  div.menu {
    position: absolute;
    width: @menuWidth;
    left: 0;
    background-color: @White;
    height: 100%;
    margin-right: 2%;
  }

  // map container
  div.map-container {
    position: absolute;
    background-color: @White;
    //width: 98% - @menuWidth;
    height: 100%;
    right: 0;

    &:not(.active) {
      visibility: hidden;
    }

    div.world-map-container, div.floor-map-container {
      width: 100%;
      height: 100%;
    }
  }
}