// <WorldMap />
div.world-map {
  width: 100%;
  height: 100%;
  background-color: @White;

  div.message {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(55, 55, 55, 0.6);;

    &:not(.active) {
      visibility: hidden;
    }

    & > div.ant-alert {
      width: 30%;
      top: 48%;
      left: 35%;
    }
  }

  // <Marker /> for building
  // and campus
  .marker {
    display: block;
    border: none;
    cursor: pointer;
    text-align: center;

    div.name {
      span {
        font-family: "Cisco Sans TT Regular", Arial, sans-serif;
        font-size: 12px;
        -webkit-text-fill-color: @White;
        background-color: @CiscoBlue;
        padding: 5px;
        border-radius: 3px;
      }
    }

    div.icon {
      & > span {
        &:not(.fa-inverse) {
          color: @Green;
          &.active {
            color: @Select;
          }
        }
      }
    }
  }
}