@font-face {
    font-family: 'fontello';
    src: url('fonts/fontello/fontello.eot?16464631');
    src: url('fonts/fontello/fontello.eot?16464631#iefix') format('embedded-opentype'),
    url('fonts/fontello/fontello.woff2?16464631') format('woff2'),
    url('fonts/fontello/fontello.woff?16464631') format('woff'),
    url('fonts/fontello/fontello.ttf?16464631') format('truetype'),
    url('fonts/fontello/fontello.svg?16464631#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16464631#fontello') format('svg');
  }
}
*/

[class^="sdk-icon-"]:before, [class*="sdk-icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.sdk-icon-plus-circled:before { content: '\e800'; } /* '' */
.sdk-icon-watchlist:before { content: '\e801'; } /* '' */
.sdk-icon-down:before { content: '\e802'; } /* '' */
.sdk-icon-search:before { content: '\e803'; } /* '' */
.sdk-icon-close:before { content: '\e804'; } /* '' */
.sdk-icon-reload:before { content: '\e805'; } /* '' */
.sdk-icon-pin:before { content: '\e806'; } /* '' */
.sdk-icon-minus:before { content: '\e807'; } /* '' */
.sdk-icon-menu:before { content: '\e808'; } /* '' */
.sdk-icon-location:before { content: '\e809'; } /* '' */
.sdk-icon-bell:before { content: '\e80a'; } /* '' */
.sdk-icon-down-bold:before { content: '\e80b'; } /* '' */
.sdk-icon-left-bold:before { content: '\e80c'; } /* '' */
.sdk-icon-pencil:before { content: '\e80d'; } /* '' */
.sdk-icon-down-circled:before { content: '\e80e'; } /* '' */
.sdk-icon-help:before { content: '\e80f'; } /* '' */
.sdk-icon-star:before { content: '\e810'; } /* '' */
.sdk-icon-up-circle:before { content: '\e811'; } /* '' */
.sdk-icon-settings:before { content: '\e812'; } /* '' */
.sdk-icon-user:before { content: '\e813'; } /* '' */
.sdk-icon-attention:before { content: '\e814'; } /* '' */
.sdk-icon-plus:before { content: '\e815'; } /* '' */
.sdk-icon-right-bold:before { content: '\e816'; } /* '' */
.sdk-icon-right-circled:before { content: '\e817'; } /* '' */
.sdk-icon-left-circled:before { content: '\e818'; } /* '' */
.sdk-icon-to-start:before { content: '\e819'; } /* '' */
.sdk-icon-to-end:before { content: '\e81a'; } /* '' */
.sdk-icon-cisco:before { content: '\e81b'; } /* '' */
.sdk-icon-user2:before { content: '\e81c'; } /* '' */
.sdk-icon-annotation:before { content: '\e81d'; } /* '' */
.sdk-icon-manage:before { content: '\e81e'; } /* '' */
.sdk-icon-right:before { content: '\e81f'; } /* '' */
.sdk-icon-globe:before { content: '\e820'; } /* '' */
.sdk-icon-dashboard:before { content: '\e821'; } /* '' */
.sdk-icon-calendar_end:before { content: '\e822'; } /* '' */
.sdk-icon-calendar_start:before { content: '\e823'; } /* '' */
.sdk-icon-check:before { content: '\e824'; } /* '' */
.sdk-icon-device1:before { content: '\e825'; } /* '' */
.sdk-icon-flagged:before { content: '\e826'; } /* '' */
.sdk-icon-info:before { content: '\e827'; } /* '' */
.sdk-icon-ok:before { content: '\e828'; } /* '' */
.sdk-icon-signal:before { content: '\e829'; } /* '' */
.sdk-icon-device2:before { content: '\e82a'; } /* '' */
.sdk-icon-floor:before { content: '\e82b'; } /* '' */
.sdk-icon-reset:before { content: '\e82c'; } /* '' */
.sdk-icon-accesspoint:before { content: '\e82d'; } /* '' */
.sdk-icon-admin:before { content: '\e82e'; } /* '' */
.sdk-icon-alarm:before { content: '\e82f'; } /* '' */
.sdk-icon-ap-sensor-badge:before { content: '\e830'; } /* '' */
.sdk-icon-ap-sm:before { content: '\e831'; } /* '' */
.sdk-icon-application:before { content: '\e832'; } /* '' */
.sdk-icon-application1:before { content: '\e833'; } /* '' */
.sdk-icon-arrow-down:before { content: '\e834'; } /* '' */
.sdk-icon-arrow-up:before { content: '\e835'; } /* '' */
.sdk-icon-arrowheadsm-down:before { content: '\e836'; } /* '' */
.sdk-icon-arrowheadsm-up:before { content: '\e837'; } /* '' */
.sdk-icon-building:before { content: '\e838'; } /* '' */
.sdk-icon-buildinghq:before { content: '\e839'; } /* '' */
.sdk-icon-calendar-today:before { content: '\e83a'; } /* '' */
.sdk-icon-calendar-week:before { content: '\e83b'; } /* '' */
.sdk-icon-calendar:before { content: '\e83c'; } /* '' */
.sdk-icon-check-1:before { content: '\e83d'; } /* '' */
.sdk-icon-client:before { content: '\e83e'; } /* '' */
.sdk-icon-close-1:before { content: '\e83f'; } /* '' */
.sdk-icon-computer:before { content: '\e840'; } /* '' */
.sdk-icon-critical:before { content: '\e841'; } /* '' */
.sdk-icon-dashboard-1:before { content: '\e842'; } /* '' */
.sdk-icon-down-1:before { content: '\e843'; } /* '' */
.sdk-icon-export:before { content: '\e844'; } /* '' */
.sdk-icon-floormap:before { content: '\e845'; } /* '' */
.sdk-icon-graph-bar:before { content: '\e846'; } /* '' */
.sdk-icon-graph-line:before { content: '\e847'; } /* '' */
.sdk-icon-graph-pie:before { content: '\e848'; } /* '' */
.sdk-icon-health-ap-sensor:before { content: '\e849'; } /* '' */
.sdk-icon-health-dedicated-sensor:before { content: '\e84a'; } /* '' */
.sdk-icon-help-1:before { content: '\e84b'; } /* '' */
.sdk-icon-info-1:before { content: '\e84c'; } /* '' */
.sdk-icon-info2:before { content: '\e84d'; } /* '' */
.sdk-icon-l-letter:before { content: '\e84e'; } /* '' */
.sdk-icon-list-menu-back:before { content: '\e84f'; } /* '' */
.sdk-icon-major-warning:before { content: '\e850'; } /* '' */
.sdk-icon-major-warning2:before { content: '\e851'; } /* '' */
.sdk-icon-map-maker:before { content: '\e852'; } /* '' */
.sdk-icon-mapview:before { content: '\e853'; } /* '' */
.sdk-icon-menu-contentpane:before { content: '\e854'; } /* '' */
.sdk-icon-minor-warning:before { content: '\e855'; } /* '' */
.sdk-icon-minor-warning2:before { content: '\e856'; } /* '' */
.sdk-icon-mobile:before { content: '\e857'; } /* '' */
.sdk-icon-network-services:before { content: '\e858'; } /* '' */
.sdk-icon-network:before { content: '\e859'; } /* '' */
.sdk-icon-network01:before { content: '\e85a'; } /* '' */
.sdk-icon-normal:before { content: '\e85b'; } /* '' */
.sdk-icon-not-working:before { content: '\e85c'; } /* '' */
.sdk-icon-pending-warning:before { content: '\e85d'; } /* '' */
.sdk-icon-progress:before { content: '\e85e'; } /* '' */
.sdk-icon-rating:before { content: '\e85f'; } /* '' */
.sdk-icon-s-letter:before { content: '\e860'; } /* '' */
.sdk-icon-search-1:before { content: '\e861'; } /* '' */
.sdk-icon-self-control:before { content: '\e862'; } /* '' */
.sdk-icon-sensor01:before { content: '\e863'; } /* '' */
.sdk-icon-sensors-and-tests:before { content: '\e864'; } /* '' */
.sdk-icon-sensordetector:before { content: '\e865'; } /* '' */
.sdk-icon-sites-all:before { content: '\e866'; } /* '' */
.sdk-icon-suggest-actions01:before { content: '\e867'; } /* '' */
.sdk-icon-suggest-actions02:before { content: '\e868'; } /* '' */
.sdk-icon-trends:before { content: '\e869'; } /* '' */
.sdk-icon-troubleshoot01:before { content: '\e86a'; } /* '' */
.sdk-icon-unabled:before { content: '\e86b'; } /* '' */
.sdk-icon-unconnected:before { content: '\e86c'; } /* '' */
.sdk-icon-unmanaged:before { content: '\e86d'; } /* '' */
.sdk-icon-up:before { content: '\e86e'; } /* '' */
.sdk-icon-users02:before { content: '\e86f'; } /* '' */
.sdk-icon-waiting:before { content: '\e870'; } /* '' */
.sdk-icon-wifi-remote:before { content: '\e871'; } /* '' */
.sdk-icon-wlc:before { content: '\e872'; } /* '' */
.sdk-icon-wrench:before { content: '\e873'; } /* '' */
.sdk-icon-sensor-detector-outline:before { content: '\e874'; } /* '' */
