@font-face {
  font-family: 'icon-tester';
  src: url('fonts/icon-tester/icon-tester.eot?65265393');
  src: url('fonts/icon-tester/icon-tester.eot?65265393#iefix') format('embedded-opentype'),
       url('fonts/icon-tester/icon-tester.woff2?65265393') format('woff2'),
       url('fonts/icon-tester/icon-tester.woff?65265393') format('woff'),
       url('fonts/icon-tester/icon-tester.ttf?65265393') format('truetype'),
       url('fonts/icon-tester/icon-tester.svg?65265393#icon-tester') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon-tester';
    src: url('../font/icon-tester.svg?65265393#icon-tester') format('svg');
  }
}
*/
 
/*.tester-icon:before {*/
  /*font-family: "icon-tester";*/
  /*font-style: normal;*/
  /*font-weight: normal;*/
  /*speak: none;*/
 /**/
  /*display: inline-block;*/
  /*text-decoration: inherit;*/
  /*width: 1em;*/
  /*margin-right: .2em;*/
  /*text-align: center;*/
  /*!* opacity: .8; *!*/
 /**/
  /*!* For safety - reset parent styles, that can break glyph codes*!*/
  /*font-variant: normal;*/
  /*text-transform: none;*/
 /**/
  /*!* fix buttons height, for twitter bootstrap *!*/
  /*line-height: 1em;*/
 /**/
  /*!* Animation center compensation - margins should be symmetric *!*/
  /*!* remove if not needed *!*/
  /*margin-left: .2em;*/
 /**/
  /*!* you can be more comfortable with increased icons size *!*/
  /*!* font-size: 120%; *!*/
 /**/
  /*!* Font smoothing. That was taken from TWBS *!*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
 /**/
  /*!* Uncomment for 3D effect *!*/
  /*!* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); *!*/
    /*content: '\e800';*/
/*}*/
