.entity-widget-wrapper {
  background-color: @White;
  box-sizing: border-box;
  min-width: 350px;
  height: 150px;

  .entity-widget {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & > div {
      padding: 0 5px;
    }

    // icon styling
    div.icon {
      text-align: center;

      .fa-stack{
        .fa {
          &:first-child {
            color: @CiscoBlue;
          }
          &:last-child {
            color: @White;
          }
        }
        font-size: 46px;
      }
    }

    // title styling
    div.title {
      text-align: center;

      .ew-count {
        font-weight: bolder;
        line-height: 38px;
        font-size: 32px;
      }

      .ew-title {
        font-size: 10px;
        text-transform: uppercase;
      }
    }

    // button styling
    div.actions {
      border-left: 1px solid #bbb;
      width: 33%;
      padding: 0 3%;

      // individual action
      div.action {
        padding: 1%;

        // <a/> override
        a { color: @DarkGray1; }
        a:hover { color: @CiscoBlue; }

        // main icon/text
        div.content {
          font-size: 16px;

          // action icon styling
          i {
            padding-right: 5%;
            min-width: 24px;
          }
        }

        // ant upload override
        .ant-upload {
          display: inline;
          font-size: 16px;
        }

        // extra text
        div.extra {
          font-size: 10px;
          text-align: right;
        }
      }
    }
  }
}

.upload-options {
  padding: 5px;
  overwrite-option,
  > div {
    padding: 10px;
  }
  button {
    margin-right: 5px;
  }
}
