/**
 * <Feedback />
 */
div.feedback {
  right: -46px;
  height: 50px;
  bottom: 5%;
  font-size: 14px;
  transform: rotate(270deg);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: @CiscoBlue;
  padding: 4px 6px;
  z-index: 1001;

  &:hover {
    right: -40px;
    cursor: pointer;
    -webkit-transition: right 0.1s;
    transition: right 0.1s;
  }

  span.icon, span.label {
    color: @White;
  }

  span.icon {
    padding-right: 5px;
  }
}