@headerFontSize: 14px;
@headerTextPadding: 0 10px;

.headerText {
  padding: @headerTextPadding;
  font-size: @headerFontSize;
}

.app-header {
  height: @headerHeight;
  background-color: @White;

  // title section
  .title {
    .sdk-icon-cisco {
      font-size: 2em;
      display: inline-block;
    }

    .app-header-title {
      font-size: 1.5em;
      display: inline-block;
      padding-left: 30px;
    }
  }

  // notifications toggle
  .notifications-toggle {
    label {
      .headerText();
    }
  }

  // alerts and errors widgets
  .header-widget {
    text-align: center;

    button.icon {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 0;
      background-color: @Danger;
      color: white;
      -webkit-transition: background-color .2s ease;
      -moz-transition: background-color .2s ease;
      -ms-transition: background-color .2s ease;
      -o-transition: background-color .2s ease;
      transition: background-color .2s ease;
      outline: none;

      i {
        font-size: 1.1em;
      }
    }

    &:hover {
      button.icon i {
        color: @White;
      }
      button.icon {
        background-color: @CiscoBlue;
      }
    }

    span {
      .headerText();
    }
  }

  // user widget
  .user-widget {

    .username {
      .headerText();
    }
  }
}

.user-widget-list {
  li {
    min-width: 120px;
    min-height: 30px;
    vertical-align: middle;
    text-align: center;
  }
}

.header-alerts-popover {
  width: 400px;
}
