// <Loading />
div.loading-wrapper {
  width: 80px;
  height: 40px;
  margin: auto;
  padding: 50% 0;
  text-align: center;

  div.icon-wrapper {
    text-align: center;
  }
}
div.sdkLoader {
  text-align: center;
  padding: 30%;
}
