.ant-table {
  font-size: 1em !important;
}

tbody tr {
  background-color: @White;
  &:hover {
    background: tint(@primary-color, 85%) !important;
  }
  td {
    color: @DarkGray;
    padding: 10px 8px !important;
    word-break: break-word !important;
    word-wrap: normal;
  }
  td, th {
    i {
      padding: 8px;
    }
  }
}

thead tr {
  th {
    background-color: @White !important;
    padding: 10px !important;
    border-bottom: 1px solid @DarkGray2 !important;
  }
}

.table-wrapper {
  padding-top: 1%;
}

.table-toolbar {
  padding: 0 0 5px 0;
  .column-toolbar {
    text-align: center;
  }
}

.table {
  .clearfix {
    clear: both;
  }
  .multiple {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: @Orange;
    color: @White;
  }
  .multi-item-row {
    display: inline-block;
  }
  td .para-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 250px;
  }
  .ant-table-title {
    padding: 0;
  }
}

div.column-manager-content {
  div.message {
    width: 250px;
    padding: 5%;
  }

  .column-manager-list {
    li {
      .clickable();
    }
  }
}

.table-small {
  th, td {
    border-bottom: none !important;
  }
  thead tr {
    display: none;
  }
  .ant-table-pagination {
    margin: 5px 0;
  }
}

.multi-popover {
  z-index: 999;
}

/*********************
 * <TableActions />
 *********************/
div.table-actions {
  padding: 10px 0;
  border-top: 1px solid @borderGray;

  div.actions {
    width: 20%;
    display: inline-block;

    span.actions-list {
      height: 52px;
      display: inline-block;
    }
  }

  div.search {
    width: 60%;
    display: inline-block;
    text-align: center;
  }

  div.export {
    width: 20%;
    display: inline-block;

    span.export-list {
      border-left: 1px solid @borderGray;
      height: 52px;
      display: inline-block;
      float:  right
    }
  }

  // actions bar icon styling
  .action-wrapper .icomoon, .action-wrapper i {
    font-size: 2.5em;
    padding: 0 5px;
  }
}

// bulk actions styling
div.bulk-actions-wrapper {
  min-width: 100px;

  div.title {
    text-align: center;
  }

  ul.bulk-actions {
    padding: 0 10px;

    li.bulk-action {
      padding: 5px 0;

      span.icon {
        padding-right: 5px;
      }

      & > div {
        text-align: center;
      }
    }
  }
}

/**********************
 * <ColumnManager2
 **********************/
.column-manager {
  .ant-collapse-content.ant-collapse-content-active {
    width: 100%;
  }

  div.create-field {
    text-align: center;
    padding-top: 10px;
  }

  div.column-list-wrapper {
    & > div.header {
      padding-bottom: 1%;
      height: 28px;

      span {
        display: inline;

        &.visible { padding-right: 16px; }
        &.reorder { padding-right: 8px; }
      }
    }

    ul.column-list.sortable-list {
      span.draggable-icon {
        color: @LightGray5;
        position: absolute;
        left: 8px;
      }

      div.ant-collapse-header i.arrow {
        visibility: hidden;
      }

      li.sortable-list-item {
        padding: 0;
      }

      li.sortable-list-item .header * {
        line-height: 38px;
      }

      span.ant-select-arrow {
        line-height: 12px;
      }

      span.right {
        padding-right: 10px;
      }

      div.field-form {
        @fieldFormPadding: 2%;
        padding: @fieldFormPadding 0;

        div.default-message {
          padding-bottom: @fieldFormPadding;
          text-align: center;
        }

        div.buttons {
          text-align: right;

          button {
            padding: 0 5px;
            margin: 0 5px;
          }
        }
      }
    }
  }
}
